@import "tailwindcss";
@import "./text-styles.css";

@theme {
  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-mobile: 32.75em; /* 524px */
  --breakpoint-mobile-large: 42.5em; /* 680px */


  /* Spacing */
  /* --spacing-layout-mob: 24px; */
  /* --spacing-layout-tab: 40px; */

  /* Colours */
  --color-*: initial;
  --color-primary: #0b0d17;
  --color-secondary: #d0d6f9;
  --color-white: #ffffff;

  /* Grid-Columns */
  --grid-template-columns-main-mobile: 24px repeat(10, 1fr) 24px;
  --grid-template-columns-main-tablet: 48px repeat(10, 1fr) 48px;

  /* Grid-Rows */
  /* --grid-template-rows-LGDesktop: min-content; */

  /* Fonts */
  --font-bellefair: var(--bellefair);
  --font-barlow-condensed: var(--barlow-condensed);
  --font-barlow: var(--barlow);
}
