/* @view-transition {
  navigation: auto;
} */

/* ::view-transition-group(root){
  animation: none;
} */

#navigation-bar {
  view-transition-name: none;
}

#destination-image {
  view-transition-name: destination-image;
}

#destination-title-description {
  view-transition-name: destination-title-description;
}

#destination-details {
  view-transition-name: destination-details;
}

#crew-info {
  view-transition-name: crew-info;
}

#crew-image {
  view-transition-name: crew-image;
}

#destination-image-container canvas{
  view-transition-name: three-d-model;
}

::view-transition-old(destination-image),
::view-transition-old(destination-title-description),
::view-transition-old(destination-details),
::view-transition-old(crew-info){
  animation: fade-out-left 1.5s forwards;
}

::view-transition-old(three-d-model) {
  animation: fade-out-left 1.5s forwards;
}

::view-transition-new(destination-image),
::view-transition-new(destination-title-description),
::view-transition-new(destination-details),
::view-transition-new(crew-info) {
  animation: fade-in-right 1.5s forwards;
}

::view-transition-new(three-d-model) {
  animation: fade-in-right 1.5s forwards;
}

::view-transition-old(crew-image) {
  animation: fade-out-left 1.5s forwards;
}

/* Mobile: 524px */
@media (min-width: 32.75em) {
  ::view-transition-old(crew-image) {
    /* translate: 0; */
    transform: translateY(100%);
    opacity: 0;
    animation: 0.4s ease-in both;
    transition: 800ms ease-out;
  }
}

@keyframes fade-out-left {
  to {
    translate: -100vw 0;
  }
}
@keyframes fade-in-right {
  from {
    translate: 100vw 0;
  }
}
