@view-transition {
  navigation: auto;
}

/* ::view-transition-group(root){
  animation: none;
} */

#destination-image {
  view-transition-name: destination-image;
}

#destination-title-description {
  view-transition-name: destination-title-description;
}

#destination-details{
  view-transition-name: destination-details;
}

::view-transition-old(destination-image) {
  animation: fade-out-left 500ms ease-in forwards;
}
::view-transition-new(destination-image) {
  animation: fade-in-right 500ms ease-out forwards;
}
::view-transition-old(destination-title-description) {
  animation: fade-out-left 500ms ease-in forwards;
}
::view-transition-new(destination-title-description) {
  animation: fade-in-right 500ms ease-out forwards;
}
::view-transition-old(destination-details) {
  animation: fade-out-left 500ms ease-in forwards;
}
::view-transition-new(destination-details) {
  animation: fade-in-right 500ms ease-out forwards;
}

@keyframes fade-out-left {
  to {
    translate: -100vw 0;
  }
}
@keyframes fade-in-right {
  from {
    translate: 100vw 0;
  }
}
